body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.info-box, .test-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-box h4, .test-box h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height > div {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.614);
    border-bottom: 1px solid #ddd;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.elementos {
    margin-right: 100px;
}

.nav-link {
    margin-left: 15px;
}

#Primer-Elem {
    margin-left: 50px;
}

.navbar-nav .nav-item img {
    height: 18px;
    width: 24px;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #0a3e75;
    border-color: #0d1624;
    background-color: #ffffff87;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Test personalidad */
.navbarPersonalidad {
    background-color: rgba(32, 32, 123, 0.489);
    border-bottom: 1px solid #ddd;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.botonSiguiente {
    background-color: #132940;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
    
}
.botonSiguiente:hover {
    background-color: #0d1624;
}

.botonAnterior {
    background-color: #1329409f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
    
}
button > a{
    text-decoration: none;
    color: white;
}
.botonAnterior:hover {
    background-color: #0d1624af;
}
/**/
.register-box{
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
} 